[user]
    name = Keith Whitney
    email = keithwhitney0@gmail.com
[color]
    diff = true
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
