[user]
    name = Keith Whitney
    email = keithwhitney0@gmail.com
[credential]
    helper = osxkeychain
[color]
    diff = true
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[mergetool "vimdiff"]
    path = nvim
