[user]
    name = Keith Whitney
    email = klw0@klw0.org
    signingKey = 4E4FBB266D877C76D7A23A7D4907DA854EDD24D8!
[color]
    diff = true
[commit]
    gpgSign = true
[diff]
    algorithm = histogram
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[mergetool "vimdiff"]
    path = nvim
[tag]
    gpgSign = true
