[alias]
    checkpoint = !git add -A && git commit -m \"reflog checkpoint\" --no-verify --no-gpg-sign && git reset HEAD~1
    recommit = !git commit --edit --file .git/COMMIT_EDITMSG
    rbc = "!f() { git rebase -i --autosquash --autostash --committer-date-is-author-date \"$@\"; }; f"
[user]
    name = Keith Whitney
    email = klw0@klw0.org
    signingKey = 4E4FBB266D877C76D7A23A7D4907DA854EDD24D8!
[color]
    diff = true
[commit]
    gpgSign = true
[diff]
    algorithm = histogram
[gpg]
    format = ssh
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[mergetool "vimdiff"]
    path = nvim
[user]
    signingkey = ~/.ssh/keys/git-signing.pub
[tag]
    gpgSign = true
[includeIf "gitdir:~/src/whitneylabs/"]
    path = ~/.gitconfig.whitneylabs
[include]
    path = ~/.gitconfig.local
[init]
	defaultBranch = main
