source ~/.vimrc

let mapleader=" "

set visualbell
set noerrorbells

map <leader>n :action ActivateProjectToolWindow<CR>

map <leader><leader> :action CommentByLineComment<CR>
vnoremap <leader><leader> :<bs><bs><bs><bs><bs>action VimVisualSwapSelections<CR> :action CommentByLineComment<CR>

map <leader>r :action Refactorings.QuickListPopupAction<CR>

nmap <C-p> :action GotoFile<CR>
nmap <leader>g :action GotoDeclaration<CR>
